/* Сначала идут описания конкретных стилей для тегов */
body{
    color: black;
    font-size: 14px;
    font-family: monospace;
}
div{
    font-size: 16px;
}

/* Затем идет описание стилей классов, начинается с точки */
.article_class{
    color: aqua;
}
.article_content_class{
    color: blue;
    padding: 4px;
}
.tooltip_class{
    color: #2a0a4e54;
}
.test_div_class{
    color: #5407ac54;
    background: #FFFFFFFF;
}
.test_div_class{
    background: rgb(236, 214, 13); /* Мы можем дополнять или перезаписывать стиль если он идет ниже */
}
.hotdog p{ /* Имеется возможность выполнять уточнения, все параграфы в классе hotdog */
    font-family: 'Times New Roman', Times, serif;
}
.hotdog p.mustard{ /* Имеется возможность выполнять уточнения, все классы mustard в параграфах, в классе hotdog */
    font-family: 'Times New Roman', Times, serif;
}
.hotdog .mustard{ /* Но более понятно писать именно так, указывая подклассы, но у варианта выше - больше приоритет*/
    font-family: 'Times New Roman', Times, serif;
    background: rgba(255, 255, 0, 0.568);
    display: block;
}
.italic_text{
    font-style: italic;
    font-weight: bold;
    font-size: 17px;
    display: inline-block;
    border-top: 2px solid rgb(104, 8, 8);
    border-bottom: 2px solid rgb(104, 8, 8);
    border-left: 4px solid rgb(2, 1, 1);
    border-right: 4px solid rgb(26, 8, 104);
    border-radius: 8px; /* для круга можно задать 50% */
    border-top-right-radius: 3px;
    width: 60px;
    height: 70%;
    margin: 10px 5px 3px 3px; /* отступы снаружи, сверху снизу слева справа */
    padding-left: 3px; /* отступы внутри */
    padding-right: 3px; /* отступы внутри */
    padding-top: 3px; /* отступы внутри */
    padding-bottom: 3px; /* отступы внутри */
    box-sizing: border-box; /* способ вычисления размера бокса, стандартное - content-box */
}


/* Затем мы можем уже указывать стили для элементов с конкретными ID с помощью # */
#table_id, #table_text_id {
    background: #50242454;
    padding: 6px;
    margin: 10px;
}

/* Помимо прочего, можно выполнять конкретные запросы */
ul > li:last-child{
    background: #24255054;
}